__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

.pytest_cache/

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

.env
*.env